.iobroker.kodi-class {
    font-style: italic;
}
#progressbar {
	width: 100%;
	height: 100%;
}


#kodiplaylist {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
#kodiplaylist li:hover, #kodiplaylist li:nth-child(even):hover { background-color:#00bd9b; color:#fff; }

#kodiplaylist li.active{
	background-color:#00bd9b;
	color:#fff;
}

#kodiplaylist ul { 
	margin: 0;
	padding-left: 5px;
	clear: both;
	cursor: pointer;  
}

#kodicontrols li { 
	float:left; 
	display:inline-block; 
	width:50px;
	height: 50px;
	text-align:center; 
	/*margin-top:8px;
	margin-left:10px */
}
.prev 		{ background: url("../img/btn/btn_sprite.png") -48px -48px }
.prev:hover { background: url("../img/btn/btn_sprite.png") -48px -0px;}
.seekdn 		{ background: url("../img/btn/btn_sprite.png") -144px 48px;}
.seekdn:hover { background: url("../img/btn/btn_sprite.png") -144px -0px;}
.playpause 		{ background: url("../img/btn/btn_sprite.png") -192px -48px }
.playpause:hover { background: url("../img/btn/btn_sprite.png") -192px -0px;}
.playpause.on	{ background: url("../img/btn/btn_sprite.png") -240px -48px;}
.playpause.on:hover { background: url("../img/btn/btn_sprite.png") -240px -0px}
.stop 		{ background: url("../img/btn/btn_sprite.png") -528px 48px;}
.stop:hover { background: url("../img/btn/btn_sprite.png") -528px -0px;}
.seekup 		{ background: url("../img/btn/btn_sprite.png") -96px -48px}
.seekup:hover { background: url("../img/btn/btn_sprite.png") -96px -0px}
.next 		{ background: url("../img/btn/btn_sprite.png") -0px -48px}
.next:hover { background: url("../img/btn/btn_sprite.png") -0px -0px}
.repeat 		{ background: url("../img/btn/btn_sprite.png") -480px -48px;}
.repeat:hover { background: url("../img/btn/btn_sprite.png") -480px -0px;}
.repeat.one 	{ background: url("../img/btn/btn_sprite.png") -432px -48px;}
.repeat.one:hover { background: url("../img/btn/btn_sprite.png") -432px -0px;}
.repeat.all 		{ background: url("../img/btn/btn_sprite.png") -384px -48px;}
.repeat.all:hover { background: url("../img/btn/btn_sprite.png") -384px -0px;}
.shuffle 		{ background: url("../img/btn/btn_sprite.png") -336px -48px;}
.shuffle:hover { background: url("../img/btn/btn_sprite.png") -336px -0px}
.shuffle.on		{ background: url("../img/btn/btn_sprite.png") -288px -48px;}
.shuffle.on:hover { background: url("../img/btn/btn_sprite.png") -288px -0px;}
