<!--
    ioBroker.iobroker.kodi Widget-Set
    version: "2.0.0"
    Copyright 10.2015-2020 instalator<vvvalt@mail.ru>
-->

<link rel="stylesheet" href="widgets/kodi/css/style.css"/>
<script type="text/javascript" src="widgets/kodi/js/kodi.js"></script>


<script id="tplkodiProgressBar"
        type="text/ejs" 
        class="vis-tpl"
        data-vis-prev='<img style="width:110px; height:10px" src="widgets/kodi/img/w_icon/progress.png"></img>'
        data-vis-attrs="oid_seek/id/;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="Progress Bar">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:200px; height:20px; overflow: initial" id="<%= this.data.attr('wid') %>" >
       <% vis.binds.kodi.Progress(this.data.wid, this.view, this.data, this.style);%>
	</div>


</script>

<script id="tplkodiPlaylist"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:110px; height:90px" src="widgets/kodi/img/w_icon/playlist.png"></img>'
        data-vis-attrs="oid_playlist/id/onPlaylistBrowserChanged;oid_position/id;oid_server/id/;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI Playlist">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:500px; height:240px" id="<%= this.data.attr('wid') %>" >
			<div id="kodiplaylist">
				<ul id="playListContainer">
				</ul>
			</div>
       <% vis.binds.kodi.Playlist(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>

<script id="tplkodiThumbnail"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:110px; height:110px" src="widgets/kodi/img/defaultplaylist.png"></img>'
        data-vis-attrs="oid_thumbnail/id/onThumbnailBrowserChanged;oid_type/id/;oid_server/id/;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI Thumbnail">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:110px; height:110px" id="<%= this.data.attr('wid') %>" >
			<ul class="kodicover">
				<li class="cover"></li>
				</ul>
       <% vis.binds.kodi.Thumbnail(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>

<script id="tplkodiCodec"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:100px; height:50px" src="widgets/kodi/img/w_icon/codec.png"></img>'
        data-vis-attrs="oid_codec/id/;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI codec info">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:100px; height:50px" id="<%= this.data.attr('wid') %>" >
				<ul class="kodiinfo">
					<li class="codec"></li>
				</ul>
       <% vis.binds.kodi.CodecInfo(this.data.wid, this.view, this.data, this.style);%>
	</div>


</script>

<script id="tplkodiAspect"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:67px; height:50px" src="widgets/kodi/img/w_icon/aspect.png"></img>'
        data-vis-attrs="oid_aspect/id/;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI AspectRatio info">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:70px; height:50px" id="<%= this.data.attr('wid') %>" >
				<ul class="kodiinfo">
					<li class="aspect"></li>
				</ul>
       <% vis.binds.kodi.AspectInfo(this.data.wid, this.view, this.data, this.style);%>
	</div>


</script>

<script id="tplkodiResolut"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:67px; height:50px" src="widgets/kodi/img/w_icon/resolution.png"></img>'
        data-vis-attrs="oid_resolut/id/;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI Video Resolution info">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:70px; height:50px" id="<%= this.data.attr('wid') %>" >
				<ul class="kodiinfo">
					<li class="resolut"></li>
				</ul>
       <% vis.binds.kodi.ResolutInfo(this.data.wid, this.view, this.data, this.style);%>
	</div>


</script>

<script id="tplkodiChannel"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:64px; height:50px" src="widgets/kodi/img/w_icon/channel.png"></img>'
        data-vis-attrs="oid_channel/id/;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI Audio Channel info">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:70px; height:50px" id="<%= this.data.attr('wid') %>" >
				<ul class="kodiinfo">
					<li class="channel"></li>
				</ul>
       <% vis.binds.kodi.ChannelInfo(this.data.wid, this.view, this.data, this.style);%>
	</div>


</script>

<script id="tplkodiVideoCodec"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:100px; height:50px" src="widgets/kodi/img/w_icon/video_codec.png"></img>'
        data-vis-attrs="oid_videocodec/id/;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI VideoCodec info">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:100px; height:50px" id="<%= this.data.attr('wid') %>" >
				<ul class="kodiinfo">
					<li class="videocodec"></li>
				</ul>
       <% vis.binds.kodi.VideoCodec(this.data.wid, this.view, this.data, this.style);%>
	</div>



</script>

<script id="tplkodiButton"
        type="text/ejs" 
        class="vis-tpl"
        data-vis-prev='<img style="width:110px; height:20px" src="widgets/kodi/img/w_icon/button.png"></img>'
        data-vis-attrs="oid_play/id/onKodiButtonBrowserChanged;oid_speed/id;oid_prev/id;oid_next/id;oid_stop/id;oid_mute/id;oid_rpt/id;oid_shf/id;oid_seek/id;"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI Button">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:400px; height:50px" id="<%= this.data.attr('wid') %>" >
				<ul id="kodicontrols">
					<li class="prev"></li>
					<li class="rewind"></li>
					<li class="playpause"></li>
					<li class="stop"></li>
					<li class="forward"></li>
					<li class="next"></li>
					<li class="repeat"></li>
					<li class="shuffle"></li>
				</ul> 
       <% vis.binds.kodi.Button(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>


