<!--
    ioBroker.iobroker.kodi Widget-Set

    version: "0.5.0"

    Copyright 10.2015-2016 instalator<vvvalt@mail.ru>
-->

<link rel="stylesheet" href="widgets/kodi/css/style.css" />
<script type="text/javascript" src="widgets/kodi/js/kodi.js"></script>
<script type="text/javascript" src="widgets/kodi/js/jquery.audioControls.min.js"></script>

<script id="tplkodiProgressBar"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:80px; height:80px" src="widgets/kodi/img/test.png"></img>'
		data-vis-attrs="oid_seek/id/;oid_q/id;"
		data-vis-attrs0="group.extrakodi;extraAttr"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="Progress Bar">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:200px; height:20px; overflow: initial" id="<%= this.data.attr('wid') %>" >
			<div id="progressbar"></div>
       <% vis.binds.kodi.createWidgetProgress(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>

<script id="tplkodiPlaylist"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:80px; height:80px" src="widgets/kodi/img/test.png"></img>'
		data-vis-attrs="oid_playlist/id/;oid_pvrplaylist/id;oid_position/id;"
		data-vis-attrs0="group.extrakodi;extraAttr"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="KODI Playlist">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:200px; height:20px" id="<%= this.data.attr('wid') %>" >
			<div id="kodiplaylist">
				<ul id="playListContainer">
				</ul>
			</div>
       <% vis.binds.kodi.createWidgetPlaylist(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>

<script id="tplkodiPlayer"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:80px; height:80px" src="widgets/kodi/img/test.png">'
        data-vis-attrs="oid/id;myColor/color;htmlText/text;"
        data-vis-attrs0="group.extrakodi;extraAttr"
        data-vis-set="kodi"
        data-vis-type="val"
        data-vis-name="Player">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:200px; height:20px" id="<%= this.data.attr('wid') %>" >
		
		<div class="containerPlayer">
		<div id="listContainer" class="playlistContainer">
		<ul id="playListContainer">
			 <li data-src="https://s3.amazonaws.com/9lessonslabs/songs/Everything+But+Mine.mp3">
				<a href="#">
					BSB - Everything But Mine
				</a>
			</li>
			<li data-src="https://s3.amazonaws.com/9lessonslabs/songs/Linkin+Park+-+Numb.mp3">
				<a href="#">
					Linkin Park - Numb
				</a>
			</li>
			<li data-src="https://s3.amazonaws.com/9lessonslabs/songs/love-the-way-you-lie-rihanna-feat-eminem.mp3">
				<a href="#">
					Eminem - Love The Way You 
				</a>
			</li>
			<li data-src="https://s3.amazonaws.com/9lessonslabs/songs/rolling-in-the-deep-adele.mp3">
				<a href="#">
					Adele - Rolling In The Deep
				</a>
			</li>
			<li data-src="https://s3.amazonaws.com/9lessonslabs/songs/when-i-was-your-man-bruno-mars.mp3">
				<a href="#">
					Bruno - When I Was Your Man
				</a>
			</li>
		</ul>
	</div>
		<div id="playerContainer">
		<div id="controlContainer">  
			
			<ul class="controls">
			<li>
				<a href="#" class="shuffle shuffleActive" data-attr="shuffled"></a>
			</li>
				<li>
					<a href="#" class="left" data-attr="prevAudio"></a>
				</li>
				<li>
					<a href="#" class="play" data-attr="playPauseAudio"></a>
				</li>
				<li>
					<a href="#" class="right" data-attr="nextAudio"></a>
				</li>
				<li>
					<a href="#" class="repeat" data-attr="repeatSong"></a>
				</li>
			</ul>
			<div class="audioDetails">
				<span class="songPlay"></span>
				<span data-attr="timer" class="audioTime"></span>
			</div>
			<div class="progress">
				<div data-attr="seekableTrack" class="seekableTrack"></div>
				<div class="updateProgress"></div>
			</div>
			
		</div>
		
		<div class="volumeControl">
			<div class="volume volume1"></div>
			<input class="bar" data-attr="rangeVolume" type="range" min="0" max="1" step="0.1" value="0.7" />
		</div>
	</div>
	</div>
	<% vis.binds.kodi.createWidgetPlayer(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>


